@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">P:</abbr>
    916.622.7659
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lottmdavid@gmail.com">lottmdavid@gmail.com</a><br />
</address>
